#title{
    background-color: #ff4c68;
    color: #fff;
}
.iphone6img{
    width:75%;
   transform: rotate(12deg); 
}
body{
    font-family: "Montserrat";
}
.navbar-brand{
    font-size: 2rem;
    font-family:'Ubuntu' ;
}
#heading-title{
    font-family:'Montserrat-Bold 700' ;
    font-size: 3rem;
    line-height:1.5;
}
#features{
    padding: 6% 15%;
}
.feature-box-1{
    text-align: center;

}
.icon{
 color: #ef8172;
 margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
h3{
    font-family: "Ubuntu";
}
h2{
    font-family: 'Montserrat-Bold 700';
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
}
#testimonials{
 padding: 6% 15%;
 text-align: center;
 color: #fff;
 background-color: #ff4c68;
}
.test-img{
    align-items: center;
    width: 20%;
    border-radius: 100%;
}
.carousel-item{
    padding: 6% 15%;
}
#press{
    background-color: #ff4c68;
    padding: 2% 10%;
    
}
.press-img{
    width: 16%;
    
    margin: 20px 50px 50px;
}{

}
#pricing{
    text-align: center;
    padding:5% 5%;
}
#above-foot{
    background-color: #ff4c68;
    padding: 4% 30%;
    color: #fff;
    text-align: center;
}
.above-foot-heading{
    font-family: "Montserrat-Black" ;
    font-size: 3rem;
}
#footer{
    background-color: #fff;
    padding: 6% 40%;
    margin-left: 3%;
}
.social-icon{
    padding: 2% 2%;
}


@media (max-width: 1024px) {
    #title{
        align-items: center;
    }
    .iphone6img{
         margin-top: 10%;
        transform: rotate(0);
    }
